In [ ]:
install.packages("dplyr")
library(dplyr)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [ ]:
# Sample data
set.seed(123)
data <- data.frame(
  group = rep(c("A", "B", "C"), each = 10),
  x = rnorm(30),
  y = rnorm(30)
)
data

   group x           y
1  A     -0.56047565  0.42646422
2  A     -0.23017749 -0.29507148
3  A      1.55870831  0.89512566
4  A      0.07050839  0.87813349
5  A      0.12928774  0.82158108
6  A      1.71506499  0.68864025
7  A      0.46091621  0.55391765
8  A     -1.26506123 -0.06191171
9  A     -0.68685285 -0.30596266
10 A     -0.44566197 -0.38047100
11 B      1.22408180 -0.69470698
12 B      0.35981383 -0.20791728
13 B      0.40077145 -1.26539635
14 B      0.11068272  2.16895597
15 B     -0.55584113  1.20796200
16 B      1.78691314 -1.12310858
17 B      0.49785048 -0.40288484
18 B     -1.96661716 -0.46665535
19 B      0.70135590  0.77996512
20 B     -0.47279141 -0.08336907
21 C     -1.06782371  0.25331851
22 C     -0.21797491 -0.02854676
23 C     -1.02600445 -0.04287046
24 C     -0.72889123  1.36860228
25 C     -0.62503927 -0.22577099
26 C     -1.68669331  1.51647060
27 C      0.83778704 -1.54875280
28 C      0.15337312  0.58461375
29 C     -1.13813694  0.12385424
30 C      1.25381492  0.21594157

In [ ]:
# Perform linear regression by group
models <- data %>%
  group_by(group) %>%
  do(model = lm(y ~ x, data = .))

print(models)

# A tibble: 3 × 2
# Rowwise:
  group model
  <chr> <list>
1 A     <lm>
2 B     <lm>
3 C     <lm>

In [ ]:
# Summarize coefficients by group
coefficients_summary <- models %>%
  summarise(
    intercept = coef(model)[1],
    slope = coef(model)[2]
  )

print(coefficients_summary)

# A tibble: 3 × 2
  intercept  slope
      <dbl>  <dbl>
1    0.294   0.372
2    0.0461 -0.263
3    0.0163 -0.484

In [ ]:
data(mtcars)

mtcars$cyl <- as.factor(mtcars$cyl)

models <- mtcars %>%
  group_by(cyl) %>%
  do(model = lm(mpg ~ hp, data = .))

coefficients_summary <- models %>%
  summarise(
    intercept = coef(model)[1],
    slope = coef(model)[2]
  )

print(coefficients_summary)

# A tibble: 3 × 2
  intercept    slope
      <dbl>    <dbl>
1      36.0 -0.113
2      20.7 -0.00761
3      18.1 -0.0142